/********************* 
FOOTER
*********************/
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3.2rem;
  background-color: var(--bluegray-2);
}

.footer__container {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  max-width: 112rem;
  width: 100%;
}

.footer__text {
  font: var(--caption);
  color: var(--gray-96);
}

/*************************************** 
TABLET VIEW - 900PX / 16PX = 56.25em
***************************************/
@media screen and (max-width: 56.25em) {
  .footer {
    padding: 3.2rem 4rem;
  }
}

/*************************************** 
MOBILE VIEW - 420PX / 16PX = 26.25em
***************************************/
@media screen and (max-width: 26.25em) {
  .footer {
    padding: 3.2rem 2rem;
  }

  .footer__text {
    font: var(--button);
    text-align: center;
  }
}