/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

/* VARIABLES */
:root {
  --display-1: 700 8rem/8.4rem 'Inter', sans-serif;
  --display-2: 700 7.2rem/7.6rem 'Inter', sans-serif;
  --display-2-md: 500 7.2rem/7.6rem 'Inter', sans-serif;
  --display-3: 700 5.4rem/6.4rem 'Inter', sans-serif;
  --display-3-md: 500 5.4rem/6.4rem 'Inter', sans-serif;
  --headline-1: 700 4rem/4.8rem 'Inter', sans-serif;
  --headline-1-md: 500 4rem/4.8rem 'Inter', sans-serif;
  --headline-2: 700 3.2rem/3.2rem 'Inter', sans-serif;
  --headline-2-md: 500 2.8rem/3.2rem 'Inter', sans-serif;
  --headline-3: 700 2rem/2.8rem 'Inter', sans-serif;
  --headline-3-md: 500 2.4rem/2.8rem 'Inter', sans-serif;
  --headline-4: 700 1.8rem/2.4rem 'Inter', sans-serif;
  --uppercase: 700 1.6rem/2.4rem 'Inter', sans-serif;
  --body: 400 1.8rem/2.6rem 'Inter', sans-serif;
  --caption: 400 1.6rem/2.4rem 'Inter', sans-serif;
  --caption-sb: 600 1.6rem/1.6rem 'Inter', sans-serif;
  --button: 400 1.4rem/2rem 'Inter', sans-serif;

  --logo: 700 2.4rem/2.4rem 'Poppins', sans-serif;

  --purple-1: hsl(282, 43.6%, 47.3%);
  --purple-2: hsl(283, 38.9%, 53.1%);
  --bluegray-1: hsl(210, 29%, 24.3%);
  --bluegray-2: hsl(210, 28.8%, 28.6%);
  --gray-98: hsl(0, 0%, 98%);
  --gray-96: hsl(0, 0%, 96.1%);
  --gray-20: hsl(0, 0%, 20%);
  --gray-12: hsl(0, 0%, 11.8%);
}

/* RESET */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  /* 10px/16px = 0.625*/
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-color: var(--gray-96);
}